header{
    background-color: rgba(137, 43, 226, 0.867);
    padding: 0%;
    font-size: larger;
}
h2{
    color:white;
}
nav a{
    color: blue;
    
}
html{
    background-color: rgba(137, 43, 226, 0.867);
}
#button{
    border-radius: 20px;
    cursor:grab;
    background-color: yellow;
    padding: 10px;
}
#button:hover{
    color:brown;
    background-color: aqua;
}
